In [1]:
import pandas as pd

In [2]:
df7 = pd.read_csv('Resources/201807-citibike-tripdata.csv')
df8 = pd.read_csv('Resources/201808-citibike-tripdata.csv')
df9 = pd.read_csv('Resources/201809-citibike-tripdata.csv')

In [3]:
summer_df=pd.concat([df7,df8,df9])

In [10]:
summer_df[["gender"]]=summer_df[["gender"]].replace(to_replace =1, 
                 value ="Male")
summer_df[["gender"]]=summer_df[["gender"]].replace(to_replace =2, 
                 value ="Female")
summer_df[["gender"]]=summer_df[["gender"]].replace(to_replace =0, 
                 value ="Unknown")

In [11]:
summer_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,500,2018-07-01 00:33:51.2640,2018-07-01 00:42:12.0280,72.0,W 52 St & 11 Ave,40.767272,-73.993929,3236.0,W 42 St & Dyer Ave,40.758985,-73.993800,16583,Subscriber,1981,Male
1,455,2018-07-01 02:06:54.0270,2018-07-01 02:14:29.0900,72.0,W 52 St & 11 Ave,40.767272,-73.993929,529.0,W 42 St & 8 Ave,40.757570,-73.990985,31481,Subscriber,1988,Male
2,1080,2018-07-01 02:09:16.4640,2018-07-01 02:27:17.0290,72.0,W 52 St & 11 Ave,40.767272,-73.993929,453.0,W 22 St & 8 Ave,40.744751,-73.999154,25004,Subscriber,1982,Female
3,632,2018-07-01 02:55:04.5870,2018-07-01 03:05:36.7910,72.0,W 52 St & 11 Ave,40.767272,-73.993929,465.0,Broadway & W 41 St,40.755136,-73.986580,25867,Subscriber,1986,Male
4,1676,2018-07-01 03:24:27.4350,2018-07-01 03:52:23.7760,72.0,W 52 St & 11 Ave,40.767272,-73.993929,3425.0,2 Ave & E 104 St,40.789210,-73.943708,31351,Subscriber,1992,Male

In [17]:
summer_df.to_csv('Output/summer_df.csv')